@import 'variables';

header {
  .nav {
    @include container();
    @include flex-space-between();
    padding: 1.5rem;

    .nav-list {
      @include flex-row();

      column-gap: 0.5rem;
      li a {
        font-size: 1rem;
        color: $Very-Dark-Blue;
      }
    }
  }
  .location {
    @include flex-direction-column();
    @include flex-direction-column-reverse();
    align-items: center;
    gap: 1.8rem;
    @include text-center();
    @include container();
    @media (min-width: 767px) {
      flex-direction: row;
      text-align: left;
      align-items: center;
    }
    .location-content {
      @include col-1();
      gap: 1rem;
      // .location-title {
      // }
      .location-text {
        opacity: 0.8;
      }
      .grid-groups {
        form {
          text-align: center;
          @include col-1();

          .text-input {
            width: 100%;
            padding: 0.7rem;
            border-radius: 6px;
            opacity: 0.4;
            @media (min-width: 767px) {
              &.text-input {
                width: 20rem;
              }
            }
          }
          .button {
            border-radius: 6px;
            padding: 0.7rem;
            background-color: $Bright-Blue;
            border: 0;
            color: $Light-Grayish-Blue;
            @media (min-width: 767px) {
              width: 10rem;
            }
          }
          .button:is(:hover, :focus) {
            background-color: $Very-Dark-Blue;
          }
          @media (min-width: 767px) {
            @include col-2;
          }
        }
      }
    }
  }
}
